<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")    

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
        }({
            instrumentationKey:"e76bc3f2-92da-43c1-9adb-b7522803f5dd"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("PaddleHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">              
                <li>@Html.ActionLink("Create a Paddle", "Create", "Paddle")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>
    
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

<script type="text/x-template" id="notifications-template">
    <ul>
        <%
        _.each(notifications, function(notification) {
        %>

        <% if( notification.notificationType == 0)
        { %>
        <li><%= notification.paddle.name %> has cancelled paddle at <%= notification.paddle.location %></li>
        <% } %>

        <% if( notification.notificationType == 1)
        {
        %>
        <li><%= notification.paddle.name %> has created a paddle at <%= notification.paddle.location %></li>
        <% } %>
        
        <% if( notification.notificationType == 2){

        var changes = [],
            originalValues = [],
            newValues = [];

        if (notification.originalLocation != notification.paddle.location) {
            changes.push('location');
            originalValues.push(notification.originalLocation);
            newValues.push(notification.paddle.location);
        }

        if (notification.originalDateTime != notification.paddle.datetime) {
            changes.push('datetime');
            originalValues.push(notification.originalDatetime);
            newValues.push(notification.paddle.DateTime);
        }

        %>
        <li><%= notification.paddle.name %> has changed paddle <%= changes.join(' and ') %> from <%= originalValues.join(' / ') %> to <%= newValues.join(' / ') %></li>
        <% } %>

        <%
        })
        %>
    </ul> 
</script>
<script>
    $(document).ready(function() {
        $.getJSON("/API/Notification", function(notifications) {
                $(".js-notifications-count")
                    .text(notifications.length)
                    .removeClass("hide")
                    .addClass("animated bounceInDown");

                $(".notifications").popover({
                    html: true,
                    title: "Notifications",
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());
                        return compiled({ notifications: notifications });                        
                    },
                    placement: "bottom"
                });
            });
    })
</script>
</body>
</html>