@model PaddleHub.ViewModels.PaddleViewModel
@{
    ViewBag.Title = @Model.Heading;
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("Search", "Home"))
{
    <div class="form-group">
        <div class="input-group" id="SearchPaddles">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by Paddler, location.." })
            <div class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        
    </div> 
}

<ul id="paddles" class="paddles vOffSet5">
    @foreach (var paddle in Model.UpcomingPaddles)
    {
        <li>
            <div class="date">
                <div class="month">
                    @paddle.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @paddle.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="paddler">                    
                    <a href="@Url.Action("Details", "Paddle", new {id = @paddle.Id})">@paddle.Paddler.UserDetails.Name()</a> 
                </span>
                <span class="location">
                    @paddle.Location
                </span>
                <span class="type">
                    @paddle.PaddleType.Name
                </span>
            </div>
            <div class="actions">                
                @if (Model.UserAuthorised)
                {
                    if (paddle.IsCancelled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }
                    else
                    {
                        <button class="btn @(Model.Attendances.Contains(paddle.Id) ? "btn-info" : "btn-default") btn-sm js-toggle-attend" id="attend" data-id="@paddle.Id">Add to calender</button>
                    }
                    <button class="btn btn-default btn-sm js-toggle-follow" id="follow" data-id="@paddle.Paddler.Id">Follow Paddler?</button>
                }
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            
            PaddleController.init("#paddles");

            $(".js-toggle-follow").click(function(e) {
                var button = $(e.target);
                $.post("/api/following", { "FolloweeId": button.attr("data-id") })
                    .done(function() {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Following Paddler");
                    })
                    .fail(function() {
                        alert("Something went wrong");
                    });
            });
        })
    </script>
}