@model IEnumerable<PaddleHub.Models.Paddle>
@{
    ViewBag.Title = "My Paddles";
}


<h1>My Paddles</h1>
<ul class="paddles vOffSet5">
    @foreach (var paddle in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @paddle.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @paddle.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">                
                <span class="location">
                    @paddle.Location
                </span>
                <span class="type">
                    @paddle.PaddleType.Name
                </span>
                <div class="manage">
                    <a href="@Url.Action("Edit", "Paddle", new {id = @paddle.Id})">Edit</a> |
                    <a href="#" class="js-cancel-paddle" data-paddle-id="@paddle.Id">Cancel</a>
                </div>
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-cancel-paddle").click(function(e) {
                var link = $(e.target);

                var dialog = bootbox.dialog({
                    title: 'Cancel a paddle',
                    message: "<p>Do you want to cancel this paddle?</p>",
                    buttons: {
                        No: {
                            label: "No",
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        Yes: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                        url: "/api/paddle/" + link.attr("data-paddle-id"),
                                        method: "DELETE"
                                    })
                                    .done(function () {
                                        link.parents("li").fadeOut(function () {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function () {
                                        alert("Something failed");
                                    });
                            }
                        }
                    }
                });                                
            });
        })
    </script>
}
