@model PaddleHub.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Personal details</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DateOfBirth)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AddressLine1, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AddressLine1)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AddressLine2, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AddressLine2)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AddressLine3, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.AddressLine3, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AddressLine3)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Postcode, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Postcode)
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Advanced details</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.CANIMembershipNumber, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.CANIMembershipNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CANIMembershipNumber)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MedicalDetails, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.MedicalDetails, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MedicalDetails)
                </div>
            </div>            
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Account details</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Canel" />
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
